// colors
$color-pry:#55c57a;
$color-pry-light :#7ed56f ;
$color-pry-dark :#28b485;
$color-sec-light:#ffb900;
$color-sec-dark:#ff7730;
$color-ter-light:#2998ff;
$color-ter-dark:#5643fa;

 
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;


//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font
$default-font-size:1.6rem;  