.navigation{
  

    &__checkbox{
      display: none;
    }

    &__button{
      background-color: $color-white;
      height: 6.5rem;
      width: 6.5rem;
      position: fixed;
      top: 6rem;
      right: 6rem;
      border-radius: 50%;
      z-index: 1500;
      box-shadow: 0 1rem 3rem rgba($color-black,.1);
    }

    &__background{
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-pry-light, $color-pry-dark);
    z-index: 500;
    transition: transform .8s cubic-bezier(0.86,0,0.07,1);
   
    }

    &__nav{
       height: 100vh; 
       width: 0;
    //    keeping the width 0 gives it a cool effect and it moves according to its specefied position
       position: fixed;
       top: 0;
       right: 0;
       z-index:1000 ;
       opacity: 0;
       transition:  all .8s cubic-bezier(0.60,-0.55,0.265,1.55) ;
    }

    &__list{
       @include center;
       list-style: none;
       text-align: center;
       width: 100%;

    }
    &__item{
        margin: 1rem;
       
    }
    &__link{
        &:link, 
        &:visited {
        display: inline-block;
        font-size: 2.5rem;
        font-weight: 300;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2rem;
        color:$color-white ;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
        background-size: 250%;
        transition: all .4s;

        span{
            margin-right: 1.5rem;
            display: inline-block;
        }
    }
        
        &:hover,
        &:active{
           background-position: 100%;
           color: $color-pry;
           transform: translateX(1rem);
        }
    }
// functionality
    &__checkbox:checked ~ &__background{
         transform: scale(80); 
    }

    &__checkbox:checked ~ &__nav{
      opacity: 1;
      width: 100%;
   }


// this is for the hamburger design icon
&__icon{
    &,
    &::before,
    &::after{

    }
}



}

