
body{
    font-family: "lato" sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color : $color-grey-dark;
    padding: 3rem;
} 



.heading-pry{
    color: $color-white;
    text-transform: uppercase; 
    margin-bottom: 6rem;
    /* this is used to fix the shaking at the back of the animation */
    backface-visibility: hidden;


    &--main{
        display: block;
        font-size: 6rem ;
        font-weight: 400;
        letter-spacing:2rem ;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* these are different animation properties
        animation-delay: 3s;
        animation-iteration-count: 3;
        animation-timing-function: ease-in;-- This becomes slower at first then becomes faster */
   
   
   }
   
   
   &--sub{
       display: block;
       font-size: 2rem ;
       font-weight: 400;
       letter-spacing: 1.75rem; 
       animation: moveInRight 1s ease-out;
   } 


}


.heading-sec{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-pry-light,$color-pry-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
    }
}
 .heading-ter{
     font-size: $default-font-size;
     font-weight: 700;
     text-transform: uppercase;
 }
 .paragraph{
     font-size: $default-font-size;
     &:not(:last-child){
         margin-bottom: 3rem;
     }
 }