.u-center-text{
    text-align: center !important;
  
}
.u-margin-big{
    margin-bottom: 8rem !important;
}
.u-margin-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-medium{
    margin-bottom: 4rem !important;
}
.u-margin-top-big{
  margin-top: 8rem !important;
}